/* Adicione estilos conforme necessário */
header {
    text-align: center;
}

#projects {
    padding: 20px;
}

.project {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}


body {
    background: linear-gradient(135deg, #ff7e5f, #feb47b, #ffcc87, #c1dfd9);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Estilos para os botões de filtro */
#filter-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.filter-btn {
    margin: 0 5px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.filter-btn:hover {
    background-color: #45a049;
}
