 /* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #00bcd4, #2196f3, #3f51b5, #673ab7);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Estilos para centralizar o conteúdo */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Estilos para o cabeçalho */
header {
    margin-bottom: 20px;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    font-size: 16px;
}

/* Estilos para os botões de filtro */
#filter-buttons {
    margin-bottom: 20px;
}

.filter-btn {
    margin: 0 5px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.filter-btn:hover {
    background-color: #45a049;
}

/* Estilos para a linha divisória */
.divider {
    width: 100%;
    border-top: 1px solid #fff;
    margin: 20px 0;
}

/* Estilos para os projetos */
.project {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.project h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
}

.project img {
    max-width: 100%;
    height: auto;
}

/* Estilos para o rodapé */
footer {
    margin-top: 20px;
}

footer p {
    font-size: 16px;
}

footer a {
    color: #333;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}
